* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display:block;
}
header {
  display:block;
}
.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main {
  grid-column: 2;
  grid-row: 1;
  margin: 1rem;
  max-width: 840px;
}
nav {
  background-color:#9c0303;
  padding: 1rem;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}
nav a{
  display:block;
  text-decoration:none;
  font-size:1.2rem;
  font-weight: 700;
  color:white;
  padding:0.5rem;
}
h1 {
  color:#9c0303;
  border-bottom: 3px solid black;
}
aside {
  width: 20rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}
aside img {
  width:300px;
  height: auto;
}
aside h2 {
  position:absolute;
  top: 55px;
  left: 125px;
}
main img {
  width: 150px;
  height: auto;
  margin: 1rem;
  float:right;
}
h2{
  display:block;
  margin-block-start:0.83em;
  margin-block-end:0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p { padding: 0;
  margin: 1rem;}
footer{
  margin-top:15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  background-color:#eee;
  color:#9c0303;
}
header,.grid,footer {
  max-width: 840px;
  margin: 0 auto;
}
.grid{
  display: grid;
  align-items:center;
}

