@media only screen and (max-width: 40rem) {
    .navigation{
        display: flex;
    }
    .navigation li {
        display: block;
        flex 1 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}
