* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}
.picture {
	font-weight: 700;border-bottom: 1px solid #777; margin-bottom: 1rem;
}


h2 {font-size: 2rem;}
h3 {font-size: 1.5rem; color: darkgreen;}
section {margin: 1rem auto; max-width: 960px;}
.container {display:grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
	    grid-gap: 25px;place-items: center;}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}
